html, body {
    margin-left: 0%;
    margin-top: 0%;

    display: flex;
    flex-direction: column;

    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

}


body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.wrapper{
  color: black;
  width: 100px;
  width: 30px;
}

.videoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  overflow: hidden;

  scroll-snap-align: start;
}

.videoContainer video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  filter: blur(5.5px);
  transform: scale(1.01);
  

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
}

.videoOverlay{
  z-index: 1;
}

.videoOverlay h1{
    border-radius: 30px;
    left: 5vw;
    font-size: 12dvw;
    bottom: 10%;
    margin: 0;

    background-color: rgba(255, 255, 255, 0);

    color: white;
    position: absolute;
    --bs-body-font-family: "Verdana";
    user-select: none;
    
}

.videoOverlay a{
  text-decoration: none;
  color: inherit;

}

.videoOverlay a:hover{
  text-decoration: none;
  color: #90AEAD
}

.videoOverlay h1:hover{
  color: #90AEAD;
  /*background-color: rgba(255, 255, 255, .15);*/

}


#name{ 
  font-size: 17dvw;
  color: inherit;
}


.snapPoint {
    scroll-snap-align: start;
    height: 80vh;
}

.page{  
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #D3D9D4;  
}

.siteCon{
    overflow-y: auto;

    height: 100vh;

    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.bioItemCon{
    display: inline-block;
    vertical-align: top;

}

.bioCon{
  position: relative;
  overflow-y: hidden;

  bottom: 0;
  left: 20px;
  height: 70vh;
  width: 45vw;

}

.bioCon:hover{
  overflow-y: auto;
}

.bioCon p{
  font-size: 20px;

  position: relative;


  word-wrap: break-word;
}

#headshot{
    height: auto;
    width: 48vw;
    margin-top: 10vh;
    margin-left: 10px;
}

#about_me_title{
  position: relative;
  left: 20px;
  font-size: 40px;

  margin-top: 20px;
  margin-bottom: 30px;
  
}

#contact_header{
  padding-top: 20px;
  text-align: center;
}

.contactCon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
}

.contactCon a, .contactCon a:visited, .contactCon a:hover, .contactCon a:active {
  color: inherit;
}

.contactButton{
    display: inline-block;
    border: 3px solid black;
    width: fit-content;
    margin-left: 50px;
    border-radius: 25px;
    margin-top: 20px;
}

.contactButton:hover{
  background-color: skyblue;
  color: white;
  scale: 1.1;
}

.contactText{
    margin-right: 10px;
}

.linkImage{
    margin: 10px;
    height: 30px;
    width: auto;
}

.projectDropdownText{
  margin-left: 5px;
  margin-right: 5px;
}

.projectDropdownText:hover{
  color: #90AEAD;
}

#highlightedTitle{
  text-align: center;
  padding-top: 30px;
  font-size: 80px;
  font-weight: bold;
}


.inTextAnchor{
  text-decoration: none;
}

.selectorAndText{
  display: inline-block;
  vertical-align: top;
}

.projectTextCon{
  width: 60vw;
  float: left;
}


.projectsText{
  margin: 50px;
  font-size: 30px;
  line-height: 1.5;

}

.projectSelector{
  position: relative;
  float: right;

  left: 20px;
  width: 35vw;
  height: fit-content;
  border: 3px solid #123E66;
}

.selectorHeading{
  margin-left: 10px;
  margin-top: 10px;
  
}

.selectorLinkCon{
  font-style: italic;
  margin-left: 10px;

}

.selectorLink{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.selectorLink:hover {
  color: #90AEAD;
}

.projectMDCon{
  position: relative;
  overflow-y: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 90vh;
  width: 96vw;

}

.projectMDImage{
  max-width: 90%;
}


.projectHeader{
  text-align: center;
  font-weight: bold;
  background-color: #123E66;
  color: #D3D9D4;
}

.projectGithubLink{
  margin-left: 50px;
}

.dropdownLink{
  color: black;
  text-decoration: none;
}


p, h1, h2, h3, h4, a, li, span{
  color: #212A31;
}
