html, body {
    height: 100%;
    width:  100%;
    margin-left: 0%;
    margin-top: 0%;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.banner{
    height: 85px;
    width: 100%;
    position: absolute;
    background-color: maroon;
    border-bottom: 2px solid black;
    
}

.banner h1{
    margin-left: 100px;
    top: 25%;
    display: inline;
    position: relative;
    text-align: center;
    user-select: none;
}

.banner a{
  text-decoration: none;
  color: black;
}

.banner a:hover{
  color: white;
}

.wrapper{
  color: black;
  width: 100px;
  width: 30px;
}

.videoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

}

.videoContainer video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 
  filter: blur(5.5px);
  transform: scale(1.01);
  

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
}

.videoOverlay{
  z-index: 1;
}

.videoOverlay h1{
    left: 5vw;
    font-size: 10dvw;
    top: 35%;
    margin: 0;

    
    color: whitesmoke;
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    user-select: none;
    
}

.videoOverlay a{
  text-decoration: none;
  color: inherit;
}

.videoOverlay h1:hover{
  color: silver;

}


.popup{
  position: absolute;
  top: 35%;
  left: 68vw;
  width: 300px;
  height: 300px;
  display: none;

}

.popup:hover{
  display: block;
}

.popup a{
  padding-bottom: 30px;
  font-size: 3.5dvw;
  margin-left: 50px;

  display: inherit;
  color: whitesmoke;
  position: relative;
  user-select: none;
  text-decoration: none;
}

.popup a:hover{
  color: silver;

}
.videoOverlay h1:hover + .popup{
  display: block;
}

.videoOverlay h1:hover  span#name{
  color: rgb(0, 0, 202)
}


#name{
  color: blue;
}

#name:hover{
  color: rgb(0, 0, 202);
}







